
<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>

    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()" color="danger" fill="outline">
        Salir
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="usuarios" (ionChange)="segmentChanged($event)">
      <ion-segment-button  value="usuarios">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="geolocasition">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="e404">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-segment-button>
    
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
